@import url("https://fonts.googleapis.com/css2?family=Tac+One&display=swap");
@font-face {
  font-family: gotham;
  src: url("../fonts/gotham/gotham.otf") format("opentype");
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.vh-25 {
  height: 25vh !important;
}

h2 {
  font-family: gotham !important;
}

a {
  text-decoration: none;
}

.fs-0 {
  font-size: 2em !important;
}

.fs--1 {
  font-size: 3em !important;
}

header {
  text-align: center;
}
header .header-logo {
  max-width: 16em;
  margin: 2em 2em;
}

.btn-red {
  background-color: #a41c27;
}
.btn-red:hover {
  background-color: #a41c27;
}

.bg-red {
  background-color: #a41c27;
}

.text-red {
  color: #a41c27;
}

.alert-red {
  background-color: #a41c27;
}

nav {
  scrollbar-color: silver #212529;
}

h1 {
  color: #f8f9fa;
  display: inline-block;
  background-color: rgba(215, 215, 215, 0.3058823529);
  font-weight: bolder;
  margin-top: 0.4em;
  margin-left: 0.2em;
  font-size: 4rem;
}

nav ul {
  display: flex;
  justify-content: start;
  list-style: none;
  padding: 0;
  margin: 1.2em 0;
}
nav ul li {
  text-align: center;
}
nav ul li a {
  display: block;
  padding: 0.6em;
  margin: 0.5em;
  min-width: 250px !important;
  text-decoration: none;
  color: #f8f9fa;
}
nav ul li a:hover:not(active) {
  background-color: #f8f9fa;
  color: black;
}

.banner-budo .offer-description {
  font-family: gotham !important;
  transform: translateY(-50%);
  backdrop-filter: blur(5px);
}
.banner-budo .offer-description p {
  letter-spacing: -4px !important;
  font-weight: 900 !important;
  text-decoration-color: #a41c27 !important;
}

.banner-budo-home-bg {
  background-image: url("../img/cover-home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: 10%;
  height: 80vh;
  filter: grayscale(90%);
}
.banner-budo-home-bg div h4 {
  filter: grayscale(0%) !important;
  background-color: #a41c27 !important;
}

.form-login {
  max-width: 450px !important;
  margin-top: 3em !important;
  max-width: 450px !important;
  margin: auto;
  padding: 2em;
  padding-bottom: 0;
  margin-bottom: 3em;
}
.form-login h2 {
  font-family: gotham !important;
}

.active {
  background-color: #a41c27;
}
.active:hover {
  background-color: #a41c27;
  color: #f8f9fa;
}

.flash {
  position: absolute;
  border: 0;
  width: 100%;
  top: -5em;
  transition: top 2s;
}
.flash.flash-error {
  background-color: #a41c27;
}
.flash.flash-success {
  background-color: green;
}

.minw-100 {
  min-width: 100% !important;
}

.day {
  min-width: 90px;
}

p {
  margin: 0;
}

.container-disciplines {
  margin-top: 3em;
}
.container-disciplines .container-discipline:nth-child(odd) {
  background-color: rgb(169, 166, 166);
}
.container-disciplines .container-discipline:nth-child(odd) h3 {
  color: #212529;
}
.container-disciplines .container-discipline:nth-child(odd) h4, .container-disciplines .container-discipline:nth-child(odd) p {
  color: #212529;
}

.section-presentation {
  height: 80vh;
}
.section-presentation .section-presentation-first {
  background-color: #a41c27;
  height: 20%;
}
.section-presentation .section-presentation-first h2 {
  display: inline-block;
  font-size: 3em;
}
.section-presentation .section-presentation-second {
  margin-top: 3em;
}
.section-presentation .section-presentation-second img {
  width: 40%;
  max-width: 170px;
  border-radius: 100%;
  border: 8px solid #a41c27;
  margin-bottom: 2em;
}
.section-presentation .section-presentation-second h2 {
  font-size: large;
}
.section-presentation .section-presentation-second p {
  font-size: small;
}

@media (width > 900px) {
  .fs-0 {
    font-size: 3em !important;
  }
  .fs--1 {
    font-size: 6em !important;
  }
  .title-section {
    font-size: 4em !important;
  }
  header {
    text-align: start !important;
  }
  header .header-logo {
    min-width: 380px;
  }
  .section-presentation {
    height: 70vh;
  }
  .section-presentation .section-presentation-first {
    display: flex;
    align-items: center;
    height: 60%;
    text-align: center;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  }
  .section-presentation .section-presentation-first h2 {
    text-align: center;
    font-size: xx-large;
  }
  .section-presentation .section-presentation-second {
    margin-top: 0em;
  }
  .section-presentation .section-presentation-second div {
    align-content: space-between !important;
    align-items: space-between !important;
  }
  .form-login {
    margin-top: 3em !important;
    max-width: 450px !important;
  }
}

/*# sourceMappingURL=style.css.map */
