@import url('https://fonts.googleapis.com/css2?family=Tac+One&display=swap');

@font-face {
    font-family: gotham;
    src: url("../fonts/gotham/gotham.otf") format("opentype");
}

$red : #a41c27;

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: gotham !important;
}

a {
    text-decoration: none;
}

.fs-0{
    font-size: 2em !important;
}

.fs--1 {
    font-size: 3em !important;
}

header {
    text-align: center;
    .header-logo {
        max-width: 16em;
        margin: 2em 2em;
    }
}

.btn-red {
    background-color: $red;
    &:hover {
        background-color: $red;
    }
}

.bg-red {
    background-color: $red;
}

.text-red {
    color: $red;
}

.alert-red {
    background-color: $red;
}

nav {
    scrollbar-color: silver #212529;
}

h1 {
    color: #f8f9fa;
    display: inline-block;
    background-color: #d7d7d74e;
    font-weight: bolder;
    margin-top: .4em;
    margin-left: .2em;
    font-size: 4rem;
}

nav ul {
    display: flex;
    justify-content: start;
    list-style: none;
    padding: 0;
    margin-top: 2.8em;
    margin-bottom: 1.5em;
    li {
        text-align: center;
        a {
            display: block;
            padding: .6em;
            margin: .5em;
            min-width: 250px !important;
            text-decoration: none;
            color: #f8f9fa;
            &:hover:not(active) {
                background-color: #f8f9fa;
                color: black;
            }
        }
    }
}

.banner-budo {
    .offer-description {
        font-family: gotham !important;
        transform: translateY(-50%);
    }
}

.banner-budo-home-bg {
    background-image: url('../img/cover-home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 10%;
    height: 60vh;
    filter: grayscale(90%);    
    div {
        h4{
            filter: grayscale(0%) !important;
            background-color: $red !important;
        }
    }
}


.form-login {
    max-width: 450px !important;
    margin-top: 3em !important;
    max-width: 450px !important;
    margin: auto;
    padding: 2em;
    padding-bottom: 0;
    margin-bottom: 3em;
    h2 {
        font-family: gotham !important;
    }
}

.active {
    background-color: $red;
    &:hover{
        background-color: $red;
        color: #f8f9fa;
    }
}

.flash {
    position: absolute;
    border: 0;
    width: 100%;
    top: -5em;
    transition: top 2s;
    &.flash-error {
        background-color: $red;
    }
    &.flash-success {
        background-color: green;
    }
}

.minw-100 {
    min-width: 100% !important;
}

.day {
    min-width: 90px;
}

p {
    margin: 0;
}

.btn-registration {

}

.container-disciplines {
    margin-top: 3em;
    .container-discipline {
        h3 {
            // background-color: rgb(28, 27, 27);
        }
        &:nth-child(odd){
            h3{
                // background-color: white;
                color: #212529;
            }
            h4 , p {
                color: #212529;
            }
            background-color: rgb(169, 166, 166);
        }
    }
}

@media (width > 700px) {
    .fs-0{
        font-size: 3em !important;
    }
    
    .fs--1 {
        font-size: 5em !important;
    }
    header{
        text-align: start !important;
        .header-logo{
            min-width: 380px;
        }
    }
    .form-login {
        margin-top: 3em !important;
        max-width: 450px !important;
    }
    
}